﻿@using CoffeeBean.Web.Models
@using CoffeeBean.Web.Extensions
@model CoffeeBean.Web.ViewModel.MissieViewModel

<fieldset>
	<legend>
		@if (Model.Missie.Id != 0)
		{
			<span>Missie nummer:</span>
			@Html.DisplayFor(model => model.Missie.Id, new { @class = "form-control" })
		}
	</legend>

	@if (ViewData.ModelState.Any(state => state.Value.Errors.Count() > 0))
	{
		<div class="text-danger">
			@Html.ValidationSummary()
		</div>
	}
	@Html.HiddenFor(model => model.Missie.Id)
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					Informatie Missie
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="control-label col-md-3">
								<label>
									Missie Naam
								</label>
							</div>
							<div class="col-md-9">
								@Html.TextBoxFor(model => model.Missie.MissieNaam, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Missie.MissieNaam)
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="control-label col-md-3">
								<label>
									Klant Naam
								</label>
							</div>
							<div class="col-md-9">
								@Html.TextBoxFor(model => model.Missie.KlantNaam, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Missie.KlantNaam)
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="control-label col-md-3">
								<label>
									Tarief per uur
								</label>
							</div>
							<div class="col-md-9">
								@Html.TextBoxFor(model => model.Missie.TariefPerUur, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Missie.TariefPerUur)
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							@Html.LabelFor(model => model.Missie.BeginDatum, new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								@Html.EditorFor(model => model.Missie.BeginDatum, new { htmlAttributes = new { @class = "date-picker form-control" } })
								@Html.ValidationMessageFor(model => model.Missie.BeginDatum)
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="control-label col-md-3">
								<label>
									Kans op verlenging
								</label>
							</div>
							<div class="col-md-9">
								@Html.TextBoxFor(model => model.Missie.KansOpVerleging, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Missie.KansOpVerleging)
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							@Html.LabelFor(model => model.Missie.EindDatum, new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								@Html.EditorFor(model => model.Missie.EindDatum, new { htmlAttributes = new { @class = "date-picker form-control" } })
								@Html.ValidationMessageFor(model => model.Missie.EindDatum)
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<input type="submit" class="btn btn-primary" value="Opslaan" />
					@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
				</div>
			</div>
		</div>
</fieldset>