﻿@model CoffeeBean.Web.ViewModel.MissieIndexViewModel

<h2>Missies</h2>
<div class="widget widget-table">
    <div class="widget-header">
        <h3>
            <i class="fa fa-table"></i>
            Missies
        </h3>
    </div>
    <div class="widget-content">
        <table class="table table-sorting table-striped table-hover datatable dataTable no-footer" role="grid">
            <thead>
            <tr role="row">
	            <th>ID</th>
	            <th>Missie naam</th>
	            <th>Begin datum</th>
	            <th>Eind datum</th>
	            <th>Tarief per uur</th>
	            <th>Kans op verleging</th>
	            <th>Klant naam</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Missies)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.MissieNaam</td>
                        <td>@item.BeginDatum</td>
                        <td>@item.EindDatum</td>
                        <td>@item.TariefPerUur</td>
                        <td>@item.KansOpVerleging</td>
                        <td>@item.KlantNaam</td>
                        <td>
                            @Html.ActionLink("Openen", "Missie", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
