﻿@model CoffeeBean.Web.ViewModel.WerknemerViewModel

<fieldset>
	<legend>
		@if (Model.Werknemer.Id != 0)
		{
			<span>Werknemer nummer:</span>
			@Html.DisplayFor(model => model.Werknemer.Id, new { @class = "form-control" })
		}
	</legend>

	@if (ViewData.ModelState.Any(state => state.Value.Errors.Any()))
	{
		<div class="text-danger">
			@Html.ValidationSummary()
		</div>
	}
	@Html.HiddenFor(model => model.Werknemer.Id)
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					Informatie Werknemer
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="control-label col-md-3">
								<label>
									Voornaam
								</label>
							</div>
							<div class="col-md-9">
								@Html.TextBoxFor(model => model.Werknemer.Voornaam, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Werknemer.Voornaam)
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="control-label col-md-3">
								<label>
									Naam
								</label>
							</div>
							<div class="col-md-9">
								@Html.TextBoxFor(model => model.Werknemer.Naam, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Werknemer.Naam)
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="control-label col-md-3">
								<label>
									Aandachtspunt
								</label>
							</div>
							<div class="col-md-9">
								@Html.TextBoxFor(model => model.Werknemer.Aandachtspunt, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Werknemer.Aandachtspunt)
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							@Html.LabelFor(model => model.Werknemer.InDiestDatum, new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								@Html.EditorFor(model => model.Werknemer.InDiestDatum, new { htmlAttributes = new { @class = "date-picker form-control" } })
								@Html.ValidationMessageFor(model => model.Werknemer.InDiestDatum)
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="control-label col-md-3">
								<label>
									Eerste ervaring
								</label>
							</div>
							<div class="col-md-9">
								@Html.EditorFor(model => model.Werknemer.EersteErvaring, new { htmlAttributes = new { @class = "date-picker form-control" } })
								@Html.ValidationMessageFor(model => model.Werknemer.EersteErvaring)
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<input type="submit" class="btn btn-primary" value="Opslaan" />
					@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
				</div>
			</div>
		</div>
</fieldset>