﻿@model CoffeeBean.Web.ViewModel.WerknemerIndexViewModel

<h2>Werknemers</h2>
<div class="widget widget-table">
	<div class="widget-header">
		<h3>
			<i class="fa fa-table"></i>
			Werknemers
		</h3>
	</div>
	<div class="widget-content">
		<table class="table table-sorting table-striped table-hover datatable dataTable no-footer" role="grid">
			<thead>
			<tr role="row">
				<th>ID</th>
				<th>Voornaam</th>
				<th>Naam</th>
				<th>Aandachtspunt</th>
				<th>Datum indiensttreding</th>
				<th>Datum eerste ervaring</th>
			</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Werknemers)
				{
					<tr>
						<td>@item.Id</td>
						<td>@item.Voornaam</td>
						<td>@item.Naam</td>
						<td>@item.Aandachtspunt</td>
						<td>@item.InDiestDatum</td>
						<td>@item.EersteErvaring</td>
						<td>
							@Html.ActionLink("Openen", "Werknemer", new { id = item.Id })
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
