﻿<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en" class="no-js"> <![endif]-->
<!--[if !(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>E2 CoffeeBean</title>

	@Styles.Render("~/bundles/themes/kingadmin/css")
	<link rel="stylesheet" href="~/Content/themes/kingadmin/css/skins/darkblue.css" />
	@Scripts.Render("~/bundles/modernizr")

	<!--[if lte IE 9]>
		<link href="assets/css/main-ie.css" rel="stylesheet" type="text/css"/>
		<link href="assets/css/main-ie-part2.css" rel="stylesheet" type="text/css"/>
	<![endif]-->
	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/kingadmin-favicon144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/kingadmin-favicon114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/kingadmin-favicon72x72.png">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/ico/kingadmin-favicon57x57.png">
	<link rel="shortcut icon" href="assets/ico/favicon.png">
</head>
<body class="dashboard">
	<div class="wrapper">
		@Html.Partial("_TopBarPartial")
		<div class="bottom">
			<div class="container">
				<div class="row">
					@* left navbar *@
					<div class="col-md-2 left-sidebar">
						<nav class="main-nav">
							<ul class="main-menu">
								<li>
									<a href="@Url.Action("Index", "Home")">
										<i class="fa fa-dashboard fa-fw"></i>
										<span class="text">Dashboard</span>
									</a>
								</li>
								<li class="active">
									<a href="#" class="js-sub-menu-toggle">
										<i class="fa fa-edit fa-fw"></i>
										<span class="text">Toevoegen</span>
										<i class="toggle-icon fa fa-angle-down"></i>
									</a>
									<ul class="sub-menu open">
										<li>@Html.ActionLink("Missie", "CreateMissie", "Missie")</li>
										<li>@Html.ActionLink("Werknemer", "CreateWerknemer", "Werknemer")</li>
									</ul>
								</li>
								<li>
									<a href="#" class="js-sub-menu-toggle">
										<i class="fa fa-edit fa-fw"></i>
										<span class="text">Overzicht</span>
										<i class="toggle-icon fa fa-angle-down"></i>
									</a>
									<ul class="sub-menu open">
										<li>@Html.ActionLink("Missie", "Index", "Missie")</li>
										<li>@Html.ActionLink("Werknemer", "Index", "Werknemer")</li>
									</ul>
								</li>
							</ul>
						</nav>
						<div class="sidebar-minified js-toggle-minified">
							<i class="fa fa-angle-left"></i>
						</div>
					</div>
					<div class="col-md-10 content-wrapper">
						@RenderSection("PageStatistics", false)
						<div class="content">
							@RenderBody()
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<p>&copy; @DateTime.Now.Year - Tabaknatie Rapporteringsformulieren</p>
	</footer>
	@Scripts.Render("~/bundles/themes/kingadmin/js")

	@RenderSection("scripts", required: false)

	<script type="text/javascript">
		$(function () {
			var dtp = $('.date-picker').datepicker({
				format: 'dd/mm/yyyy'
			})
            .on('changeDate', function (e) {
            	dtp.datepicker('hide');
            });
		});
	</script>
</body>
</html>