﻿<div class="main-header">
    <h2>DASHBOARD</h2>
    
</div>

<div class="main-content">
    <div class="row">
        <div class="col-md-9">
            <!-- WIDGET NO HEADER -->
            <div class="widget widget-hide-header">
                <div class="widget-header hide">
                    <h3>Summary Info</h3>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="easy-pie-chart green" data-percent="70">
                                <span class="percent">70</span>
                            </div>
                            <p class="text-center">Task Completion</p>
                        </div>
                        <div class="col-md-3">
                            <div class="easy-pie-chart red" data-percent="22">
                                <span class="percent">22</span>
                            </div>
                            <p class="text-center">Overall Project Completion</p>
                        </div>
                        <div class="col-md-3">
                            <div class="easy-pie-chart yellow" data-percent="65">
                                <span class="percent">65</span>
                            </div>
                            <p class="text-center">Disk Space Used</p>
                        </div>
                        <div class="col-md-3">
                            <div class="easy-pie-chart red" data-percent="100">
                                <span class="percent">16</span>
                            </div>
                            <p class="text-center">Bandwidth Used</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- WIDGET NO HEADER -->
        </div>
    </div>
</div>

@section PageStatistics {
    <div class="row">
        <div class="col-md-4 ">
            <ul class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="#">Home</a></li>
                <li class="active">Dashboard</li>
            </ul>
        </div>

    </div>
}